body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex; /* WIDTH and HEIGHT are required*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#players{
    order:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playersDisplay{
    padding:10px;
}

 td {
    padding-left: 4vh;
    padding-right: 4vh;
    font-size: 10vh;
    text-align: center;
    vertical-align: middle;
}

table {
    order:2;
    height: 200px;
    width: 200px;
}

#\30{
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
#\31{
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
#\32{
    border-bottom: 3px solid black;  
}
#\33{
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
#\34{
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
#\35{
    border-bottom: 3px solid black;  
}
#\36{
    border-right: 3px solid black;  
}
#\37{
    border-right: 3px solid black;  
}
table {
    border-collapse: collapse;
}