body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex; /* WIDTH and HEIGHT are required*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.playersDisplay{
    padding:10px;
}

 .cell {
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #43444D;
}

.fullgrid {
    
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#\30{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\31{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\32{
    border-bottom: 1px solid #43444D;  
}
#\33{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\34{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\35{
    border-bottom: 1px solid #43444D;  
}
#\36{
    border-right: 1px solid #43444D;  
}
#\37{
    border-right: 1px solid #43444D;  
}

.playerBoard {
    
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ebebeb;
    border-style: solid;
    border-color: #43444D;
    background-color: #43444D;
    border-width: 1px;
    height: 100px;
    width: 25vh;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    line-height: 1.6;
    padding-top: 10px;
    margin-bottom: 10vh;
    margin-right: 50vh;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

   .formWrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    color: #43444D;
    border-style: solid;
    border-color: #43444D;
    border-width: 1px;
    height: 150px;
    min-height: 150px;;
    width: 360px;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    padding-top: 20px;
    position: relative;
   
 
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  #submitButton{
   width: 120px;
   position: absolute;
   bottom:20px;
   right:20px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color: #43444D;
   border-radius: 12%;
   align-self: flex-end;
   background-color: white;
  }

  .mousedOver{
      background-color: gray;
  }

  .players{
      border: black 2px solid;
      height: 90px;
     
      width: 150px;
      border-radius: 12%;
      margin: 40px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      color: #43444D;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  .playerSelectors{
    border: black 2px solid;
    height: 90px;
   
    width: 150px;
    border-radius: 12%;
    margin: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #43444D;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 44.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.playerNameBoard {
  
  height: 110px;
  align-content: center;
  align-items: center;
  width: 600px;
  border-radius: 12%;
  margin: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #43444D;
  
}

.playerNameBoxes{
  border: black 2px solid;
  height: 90px;
  line-height: 90px;
  width: 250px;
  border-radius: 12%;
  margin: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #43444D;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 44.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.promptBox {
  align-content: center;
  align-items: center;
  width: 380px;
 
  margin: 40px;
  color: #4CAF50;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}


  #playerBoard, #gameSelectBoard, #playerNameBoard{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .pressed {
    border: 4px solid #4CAF50; /* Green */
  }

  .resetButton {
    border: red 2px solid;
    height: 50px;
    background-color: white;
    width: 150px;
    border-radius: 20%;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #43444D;
    position: absolute;
   
    right: 2px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 44.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  }

  #resetWrapper{
    margin-top: 80px;
    position:relative;
 
    height: 50px;
    width: 400px;
  }