body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex; /* WIDTH and HEIGHT are required*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.playersDisplay{
    padding:10px;
}

 .cell {
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #43444D;
}

.fullgrid {
    order:2;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#\30{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\31{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\32{
    border-bottom: 1px solid #43444D;  
}
#\33{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\34{
    border-bottom: 1px solid #43444D;
    border-right: 1px solid #43444D;
}
#\35{
    border-bottom: 1px solid #43444D;  
}
#\36{
    border-right: 1px solid #43444D;  
}
#\37{
    border-right: 1px solid #43444D;  
}

.playerBoard {
    order:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ebebeb;
    border-style: solid;
    border-color: #43444D;
    background-color: #43444D;
    border-width: 1px;
    height: 100px;
    width: 25vh;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    line-height: 1.6;
    padding-top: 10px;
    margin-bottom: 10vh;
    margin-right: 50vh;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  .form {
    font-family: 'Roboto', sans-serif; 
    color: #ebebeb;
    border-style: solid;
    border-color: #43444D;
    background-color: #43444D;
    height: 80px;
    min-height: 80px;;
    width: 25vh;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  .mousedOver{
      background-color: gray;
  }

  .players{
      border: black 2px solid;
      height: 90px;
     
      width: 150px;
      border-radius: 12%;
      margin: 40px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      color: #43444D;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 44.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  #playerBoard{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }